[% USE Perl -%]
log(100) = [% Perl.log(100) %]
sprintf("%.0f", 7.8) = [% Perl.sprintf("%.0f", 7.8) %]
pow(2, 3) = [% Perl.pow(2, 3) %]
exp(1) = [% Perl.exp(1) %]
ceil(3.3) = [% Perl.ceil(3.3) %]
ceil(3.8) = [% Perl.ceil(3.8) %]
floor(3.3) = [% Perl.floor(3.3) %]
floor(3.8) = [% Perl.floor(3.8) %]
